

<div class=" overflow-x-auto" id="<%= dom_id student %>">
  <table class="w-9/12 text-sm text-left text-gray-500 dark:text-gray-400">

    <thead class="text-xs text-gray-700 uppercase ">
    <tr>
      <th scope="col" class="px-6 py-3">
         Name
      </th>
      <th scope="col" class="px-6 py-3">
        Last name:
      </th>
    </tr>
    </thead>

    <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td scope="row" class="px-6 py-4 ">
        <%= student.name %>
      </td>
      <td class="px-6 py-4">
        <%= student.last_name %>
      </td>
    </tr>
    </tbody>

  </table>
</div>
