@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize table appearance */
#users-datatable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
#users-datatable th,
#users-datatable td {
    padding: 8px;
    border: 1px solid #ddd;
}
#users-datatable th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

/* Customize pagination appearance */
.dataTables_paginate {
    text-align: center;
}
.paginate_button {
    display: inline-block;
    margin: 0 4px;
    padding: 4px 8px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    cursor: pointer;
}

.paginate_button.current {
    background-color: #007bff;
    color: white;
}

.dataTables_filter{
    padding: 0.5rem;
    margin: 0.8rem;
}
/* Customize search bar appearance */
.dataTables_filter label {
    font-weight: bold;
}

.dataTables_filter input {
    border: 1px solid #ddd;
    padding: 4px;
    width: 50%;
}